<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/common/layui.css'%}">
    <link rel="stylesheet" href="{%static 'css/common/base.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/common/main.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/common/common.css'%}">
    <link rel="stylesheet" href="{%static 'css/header/headers.css'%}">
    <link rel="stylesheet" href="{%static 'css/personal/personal.css'%}">
</head>
<body>
<header>
    {%include 'headers.html' with phoneid=phone%}
</header>
<section>
    <div class="layui-container main">
        <div class="main_wrapper">
            <div class="layui-col-md8 layui-col-md-offset1 main_left">
                <div class="main_left_wrapper">
                    <div class="tab_age_con">
                        <dl class="tab_page_list">
                            <dt class="tab_page_con_t tab_page_list_title">
                                <h3><a href='/personal/blogdetails/1'>这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题这是标题</a></h3>
                            </dt>
                            <dd class="tab_page_con_c">
                                <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                            </dd>
                            <dd class="tab_page_con_b">
                                <div class="tab_page_b_r publish_date">2018-12-27 08:29:30</div>
                            </dd>
                        </dl>
                        <dl class="tab_page_list">
                            <dt class="tab_page_con_t tab_page_list_title">
                                <h3><a href="javascript:void(0)">这是标题这题这是标题</a></h3>
                            </dt>
                            <dd class="tab_page_con_c">
                                <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                            </dd>
                            <dd class="tab_page_con_b">
                                <div class="tab_page_b_r publish_date">2018-12-27 08:29:30</div>
                            </dd>
                        </dl>
                        <dl class="tab_page_list">
                            <dt class="tab_page_con_t tab_page_list_title">
                                <h3><a href="javascript:void(0)">这是标题题</a></h3>
                            </dt>
                            <dd class="tab_page_con_c">
                                <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                            </dd>
                            <dd class="tab_page_con_b">
                                <div class="tab_page_b_r publish_date">2018-12-27 08:29:30</div>
                            </dd>
                        </dl>
                        <dl class="tab_page_list">
                            <dt class="tab_page_con_t tab_page_list_title">
                                <h3><a href="javascript:void(0)">这是标题这是标题</a></h3>
                            </dt>
                            <dd class="tab_page_con_c">
                                <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                            </dd>
                            <dd class="tab_page_con_b">
                                <div class="tab_page_b_r publish_date">2018-12-27 08:29:30</div>
                            </dd>
                        </dl>
                        <dl class="tab_page_list">
                            <dt class="tab_page_con_t tab_page_list_title">
                                <h3><a href="javascript:void(0)">这题这是标题</a></h3>
                            </dt>
                            <dd class="tab_page_con_c">
                                <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                            </dd>
                            <dd class="tab_page_con_b">
                                <div class="tab_page_b_r publish_date">2018-12-27 08:29:30</div>
                            </dd>
                        </dl>
                    </div>
                    <div class="tab_pagination">
                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-8">
                            <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
                            <span class="layui-laypage-curr">
                                <em class="layui-laypage-em"></em>
                                <em>1</em>
                            </span>
                            <a href="javascript:;" data-page="2">2</a>
                            <a href="javascript:;" data-page="3">3</a>
                            <a href="javascript:;" data-page="4">4</a>
                            <a href="javascript:;" data-page="5">5</a>
                            <span class="layui-laypage-spr">…</span>
                            <a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="50">50</a>
                            <a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3 main_right">
                <div class="main_right_wrapper">
                    <div class="tag_class">
                        <h6>分类标签</h6>
                        <ul class="article_tag_list">
                            <li>C</li>
                            <li>C++</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>PHP</li>
                            <li>Javascript</li>
                            <li>H5</li>
                            <li>Css3</li>
                        </ul>
                    </div>
                    <div class="friend_link">
                        <div class="'friend_link_wrapper">
                            <h6>友情链接</h6>
                            <p><a href="https://www.csdn.net/">CSDN-it社区</a></p>
                            <p><a href="http://www.itpub.net/">ITPUB技术论坛</a></p>
                            <p><a href="http://www.python88.com/">Python中国社区</a></p>
                            <p><a href="https://www.pythontab.com/">PythonTab中文开发者社区</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script src="{%static 'js/common/jquery.js'%}"></script>
<script src="{%static 'js/layer/layer.js'%}"></script>
</html>