<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/common/layui.css'%}">
    <link rel="stylesheet" href="{%static 'css/common/base.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/common/main.min.css'%}">
    <link rel="stylesheet" href="{%static 'css/common/common.css'%}">
    <link rel="stylesheet" href="{%static 'css/header/headers.css'%}">
    <link rel="stylesheet" href="{%static 'css/personal/write.css'%}">
</head>
<body>
    <header>
        {%include 'headers.html' with phoneid=phone%}
    </header>
    <section>
        <div class="layui-container main">
            <div class="main_wrapper">
                <div class="blog_title">
                    <input type="text" id='blog_title' name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
                <p class="error_tips title_error">博客标题不能为空</p>
                <div class="blog_tag">
                    <div class="layui-input-inline">
                        <label>请选择博客标签：</label>
                        <select name="quiz3" class="choice_tag">
                            <option value="">请选择</option>
                            <option value="c">C</option>
                            <option value="c++">C++</option>
                            <option value="java">Java</option>
                            <option value="python">Python</option>
                            <option value="php">PHP</option>
                            <option value="javascript">Javascript</option>
                            <option value="h5">H5</option>
                            <option value="css3">Css3</option>
                        </select>
                    </div>
                    <ul class="show_tag">
                        <!--<li title="点击去掉此标签">123</li>-->
                    </ul>
                </div>
                <div class="blog_content">
                    <textarea id="blog_content" name="" required lay-verify="required" placeholder="请输入" class="layui-textarea" rows="25"></textarea>
                </div>
                <p class="error_tips content_error">博客内容不能为空</p>
                <ul class="write_bottom">
                    <li class="blog_publish">
                        <a class="layui-btn layui-btn-warm" id="blog_publish">发布</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <input type="hidden" id='csrftoken' value="{{csrf_token}}">
</body>
<script src="{%static 'js/common/jquery.js'%}"></script>
<script src="{%static 'js/layer/layer.js'%}"></script>
<script src="{%static 'js/common/alertTips.js'%}"></script>
<script src="{%static 'js/personal/writeblog.js'%}"></script>
</html>