body{
    background: #f5f6f7;
}
section{
    padding-top: 10px;
}

.main_wrapper{
    background: #fff;
    padding:0 30px 40px;
}
/*文章标题部分*/
.main_wrapper .article_header{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom:20px;
}

.main_wrapper .article_header .title_article{
    padding: 5px 0;
}
.main_wrapper .article_header .title_article h1{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    line-height: 40px;
    color: #333;
    font-weight: 700;
}

.main_wrapper .article_header .info_article{
    color:#858585;
    font-size: 12px;
}
.main_wrapper .article_header .info_article span{
    margin-right:15px;
}



/*文章内容*/
.main_wrapper .content_views{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    min-height: 500px;
}
.main_wrapper .content_views h3{
    font-size: 22px;
    line-height: 30px;
    word-wrap: break-word;
    margin:8px 0 16px;
    color: #4f4f4f;
    font-weight: 700;
}
.main_wrapper .content_views p{
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px;
    overflow-x: auto;
    word-wrap: break-word;
}