body{
    background: #f5f6f7;
}
section{
    padding-top: 10px;
}
.main .main_wrapper:after{
    content:"";
    display: block;
    *zoom:1;
    clear: both;

}
.main .main_wrapper{
    background: #f5f6f7;
}
.main_left{
    background:white;
    right:10px;
}
.main_right{
    background:white;

}

.main_left_wrapper{
    padding:10px;
}

/*personal  左半部分*/
/*一条list*/
.main .tab_page_list{
    padding-top: 10px;
}
/*list 标题*/
.main .tab_page_list .tab_page_con_t{
    padding:10px 10px 5px 10px;
    position: relative;
}
.main .tab_page_list .tab_page_con_t:after{
    content:'';
    position: absolute;
    left: 12px;
    bottom: 5px;
    background: #ccc;
    height: 1px;
    width: 95%;
}

.main .tab_page_list .tab_page_con_t a{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    color: #5a5a5a;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 4px;
}
.main .tab_page_list .tab_page_con_t a:hover{
    color:#ca0c16;
}
/*list 中间文章段落*/
.main .tab_page_list .tab_page_con_c{
    padding:10px 10px 10px 10px;
    min-height: 75px;
}
.main .tab_page_list .tab_page_con_c p{
    text-indent:30px;
    font-size: 14px;
    color: #858585;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow : hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*list 底部 日期*/
.main .tab_page_list .tab_page_con_b {
    padding:10px 0;
}
.main .tab_page_list .tab_page_con_b .publish_date{
    font-size: 12px;
    color: #999;
    float: right;
}
.main .tab_page_list .tab_page_con_b:after{
    content:'';
    display: block;
    clear: both;
    *zoom:1
}

/*list 分页按钮*/
.main .main_left_wrapper .tab_pagination{
    padding: 20px 0;
    text-align: center;
}
.main .main_left_wrapper .page-links:after{
    content:"";
    display: block;
    clear:both;
}



/*personal  右半部分*/
.main .main_right .tag_class,.main .main_right .friend_link{
    padding:20px 10px;
}
.main .main_right h6{
    padding:4px;
    color:#3D3D3D;
}
.main .main_right .tag_class .article_tag_list li{
    padding:4px 15px;
    cursor:pointer;
    font-size: 13px;
    color:#999;
}
.main .main_right .tag_class .article_tag_list li:hover,.main .main_right .friend_link p a:hover{
    color: red;
}
.main .main_right .friend_link p{
    padding:5px 15px;
    font-size: 13px;
    color:#999;
}



